@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Medium.woff2') format('woff2'),
        url('fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ_';
    src: url('fonts/AkzidenzGroteskBQ-BoldExtIt.woff2') format('woff2'),
        url('fonts/AkzidenzGroteskBQ-BoldExtIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}





@import "vars";
/*Ajuste de FullWidth*/


.page-template {

    max-width: 100%;
    width: 100%;

}


.btn {
    font-family: 'Avenir';
}


/*Esquema por defecto para las secciones*/

.grid {
    display: flex;
    flex-wrap: wrap;

    .col {
        width: 50%;
    }

    .col2 {
        width: 33%;
        padding-left: 90px;
        padding-right: 90px;


    }

    .col3 {
        width: 33%;
    }
}


/*Ajuste general*/

h2 {
    text-align: center;
}

.buto {
    color: #255543;
    background-color: #f8de01;
    font-size: 1.5em !important;


}

form {
    text-align: center;
}

.template-section {
    &.padding-50 {
        padding: 50px 0;
    }

    .contenedor {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }

    .col {
        min-height: 500px;
        padding: 60px;
    }

    h2 {

        color: #efeeef;
        font-family: 'Akzidenz-Grotesk BQ_';
        font-size: 3.1em;
        font-weight: bold;
        line-height: 1.3em;

        i {
            font-family: 'Akzidenz-Grotesk BQ_';
            display: block;
            font-size: 1.5em;
        }

        &.azul {
            color: @aqua;
        }

    }

    h3 {
        font-family: 'Kirvy Bold';
        font-size: 2.0em;
    }

    p,
    ul {
        color: #efeeef;
        font-size: 1.4em;
        font-family: 'Avenir';
    }


    a.btn {
        transition: all 0.3s ease-in-out;

        &.aqua {
            font-family: 'Kirvy Bold';
            background: #01b79e;
            color: #fff;
            font-size: 1.8em;
            text-transform: none;

            &:hover {
                background: @aquaoscura;
            }
        }
    }

}

/**********INICIO****/
.responsive {
    display: none;
}

html.inicio {
    width: 100%;
}

body.inicio {
    text-align: center;
    width: 100%;

    background: url(../img/fondo.jpg) no-repeat center;
    background-attachment: fixed;

    section {
        padding: 50px 0;

        h2,
        p {
            text-shadow: 5px 5px 5px black;
        }

        a {
            opacity: 1;
        }

        img {
            margin-left: auto;
            position: relative;
            right: auto;
            margin-top: 50px;
        }

        .buton {
            text-align: center;
        }
    }

    .que_eres {
        display: block;
        position: relative;
        margin: auto;
        text-align: center;
        width: 352px;
        height: 196px;
        border: 3px solid black;
        background: black;
        -webkit-transform: skew(-15deg);
        -moz-transform: skew(-15deg);
        -ms-transform: skew(-15deg);
        -o-transform: skew(-15deg);
        transform: skew(-15deg);
    }
}

/****NOMBREEE***/
html.nombre {
    width: 100%;
}

body.nombre {
    width: 100%;
    background: url(../img/fondo_nombre.jpg) no-repeat center;
    background-attachment: fixed;

    .content {
        position: relative;
        background: transparent;
    }

    section {
        padding: 50px 0;
    }

    .general {
        padding-top: 100px;
    }

    a {
        opacity: 1;
    }
}

// Ajuste de imagenes de respuestas

.imagenes {
    ul {
        display: flex;
        width: 100%;
        max-width: 1200px;
        height: 350px;

        li {
            width: 100%/3;
        }

        img {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        h3 {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 300px;
            font-family: 'Akzidenz-Grotesk BQ_';
            font-size: 1.2em;
        }
    }
}

/* ----------------------------------
/* TEMPLATE PREGUNTAS */
/*------------------------------------*/

body.preguntas {

    a {
        opacity: 1;
    }

    li {

        &.prueba {
            margin-left: 166px;
        }

    }

    ul.prueba {
        margin-right: -53px;
    }

    &.azul {

        h2,
        p,
        ul {
            color: #284a6c;
        }
    }

}

/***SECCION 1****/
body.seccion1 {
    background: url(../img/fondo_seccion1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

}


/***SECCION 2****/
body.seccion2 {
    background: url(../img/fondo_seccion2.jpg) no-repeat center;
    background-attachment: fixed;



    a {
        opacity: 1;
    }

    li {

        &.prueba {
            margin-left: 126px;
        }

    }

    ul.prueba {
        margin-right: -53px;
    }
}

/***SECCION 3****/
body.seccion3 {
    background: url(../img/fondo_seccion3.jpg) no-repeat center;
    background-attachment: fixed;
}

/****RESULTADO A ***/

body.a {
    background: url(../img/premio1.jpg) no-repeat center;
    background-attachment: fixed;

    section.a {
        .responsive {
            display: none;
        }

        .computadora {
            display: inherit;
        }

        padding: 0;
        margin-top: -99px;

        .col {

            &.dos {
                background: url(../img/premio_enlace.png) no-repeat center;
                min-height: 611px;
            }

            h2,
            p {
                text-align: center;
                max-width: 400px;
                display: block;
                margin: auto;

                color: #092f57;
            }

            h2 {
                margin-top: 100px;
                text-transform: uppercase;
            }

            .buton {
                text-align: center;
            }

            .btn-2 {
                background: #4267b2;
                color: #fff;
                box-shadow: 0 6px #092f57;
            }

            .btn-2g:hover {
                box-shadow: 0 4px #092f57;
            }

        }
    }
}

/****RESULTADO B**/


body.b {
    background: url(../img/premio2.jpg) no-repeat center;
    background-attachment: fixed;

    section.a {
        .responsive {
            display: none;
        }

        .computadora {
            display: inherit;
        }

        padding: 0;
        margin-top: -99px;

        .col {

            &.dos {
                background: url(../img/premio_enlace.png) no-repeat center;
                min-height: 611px;
            }

            h2,
            p {
                text-align: center;
                max-width: 400px;
                display: block;
                margin: auto;

                color: #092f57;
            }

            h2 {
                margin-top: 100px;
                text-transform: uppercase;
            }

            .buton {
                text-align: center;
            }

            .btn-2 {
                background: #4267b2;
                color: #fff;
                box-shadow: 0 6px #092f57;
            }

            .btn-2g:hover {
                box-shadow: 0 4px #092f57;
            }

        }
    }
}

/****RESULTADO C**/


body.c {
    background: url(../img/premio3.jpg) no-repeat center;
    background-attachment: fixed;

    section.a {
        .responsive {
            display: none;
        }

        .computadora {
            display: inherit;
        }

        padding: 0;
        margin-top: -99px;

        .col {

            &.dos {
                background: url(../img/premio_enlace.png) no-repeat center;
                min-height: 611px;
            }

            h2,
            p {
                text-align: center;
                max-width: 400px;
                display: block;
                margin: auto;

                color: #092f57;
            }

            h2 {
                margin-top: 100px;
                text-transform: uppercase;
            }

            .buton {
                text-align: center;
            }

            .btn-2 {
                background: #4267b2;
                color: #fff;
                box-shadow: 0 6px #092f57;
            }

            .btn-2g:hover {
                box-shadow: 0 4px #092f57;
            }

        }
    }
}

/****RESULTADOS D*/
body.d {
    background: url(../img/premio4.jpg) no-repeat center;
    background-attachment: fixed;

    section.a {
        .responsive {
            display: none;
        }

        .computadora {
            display: inherit;
        }

        padding: 0;
        margin-top: -99px;

        .col {

            &.dos {
                background: url(../img/premio_enlace.png) no-repeat center;
                min-height: 611px;
            }

            h2,
            p {
                text-align: center;
                max-width: 400px;
                display: block;
                margin: auto;

                color: #092f57;
            }

            h2 {
                margin-top: 100px;
                text-transform: uppercase;
            }

            .buton {
                text-align: center;
            }

            .btn-2 {
                background: #4267b2;
                color: #fff;
                box-shadow: 0 6px #092f57;
            }

            .btn-2g:hover {
                box-shadow: 0 4px #092f57;
            }

        }
    }
}

@media screen and (max-width: 50em) {

    body.a,
    body.b,
    body.c,
    body.d {
        background: url(../img/premio1_responsive.jpg) no-repeat center;
    }

    body.a,
    body.b,
    body.c,
    body.d {
        .col {
            width: 100%;
        }

        .invertido {
            flex-wrap: wrap-reverse;
        }

        .col.dos {
            background: url(../img/premio_enlace_responsive.png) no-repeat center !important;
            min-height: 350px !important;
            border-radius: 20px 0 0 20px;
            margin-top: 120px;
            /* min-height: 1px; */
            padding: inherit;
            /* padding-right: 173px; */
            margin-left: 20px;          
            /* margin: 10px 10px; */
        }

        h2 {
            width: 80%;
            font-size: 1.2em;
            margin-top: 30px !important;
        }

        p {
            width: 80%;
            font-size: 1.1em;
        }

        img {
            position: absolute;
            border: 0;
            margin-top: -107px;
            max-width: 75%;
            margin-bottom: 23px;
        }

    }


    .responsive {
        display: inherit !important;

        padding: initial !important;
        min-height: auto !important;
    }

    .computadora {
        display: none !important;
    }

    .container > section {
        padding: 2em 1em !important;
    }

    .template-section h2 {
        font-size: 1.2em;
    }

    // Respuestas
    .ac-custom {
        padding: 0;
    }

    .imagenes {
        ul {
            padding: 0;
            height: 280px;
            margin-bottom: 0;

            li {
                img {
                    width: 90%;
                    margin: 2%;
                }

                label {
                    left: 0;
                    margin: 0 auto;
                    width: 30px;
                    top: 25%;
                }

                h3 {
                    font-size: 0.8em;
                    top: 70%;
                }

                svg {
                    margin-top: -100px;
                    left: 10px;
                    right: 0;
                }
            }
        }
    }

    .btn-2g {
        margin: 0 auto;
    }

}


@media screen and (min-width: 1000px) and (max-width: 1780px) and (max-height:1000px) {

    body.inicio .que_eres {
        margin-top: -14px;
            height: 120px;
    }
    body.inicio section {
    padding: initial;
}
    body.inicio {
        h2 {
            margin-top: 0px;
            
        }
        p {
                margin-top: -38px;
        }
        section img {
   
    margin-top: 6px;
    width: 55%;
}
        section .buton {
    
    margin-top: -10px;
}
        
    }

}