@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Medium.woff2') format('woff2'),
        url('fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('fonts/AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
        url('fonts/AkzidenzGroteskBQ-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@import "vars";
/*Ajuste de FullWidth*/


.page-template {
    
        max-width: 100%;
        width: 100%;
    
}


.btn {
   font-family: 'Avenir';
}


/*Esquema por defecto para las secciones*/

.grid {
    display: flex;
    flex-wrap: wrap;
    .col {
        width: 50%;
    }
    .col2 {
        width: 33%;
        padding-left: 90px;
        padding-right: 90px;
  
        
    }
    .col3 {
        width: 33%;
    }
}


/*Ajuste general*/

h2 {
    text-align: center;
}
.buto {
    color: #255543;
    background-color: #f8de01;
    font-size: 1.5em!important;


}

form {
    text-align: center;
    

    
}
.template-section {
    &.padding-50 {
        padding: 50px 0;
    }

    .contenedor {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }

    .col {
        min-height: 500px;
        padding: 60px;
    }

    h2 {
        
        color: #efeeef;
       font-family: 'Akzidenz-Grotesk BQ';
        font-size: 3.1em;
        font-weight: bold;
        line-height: 1.3em;
        i {
           font-family: 'Akzidenz-Grotesk BQ';
            display: block;
            font-size: 1.5em;
        }

        &.azul {
            color: @aqua;
        }

    }
    h3 {
        font-family: 'Kirvy Bold';
        font-size: 2.0em;
    }

    p,
    ul {
		color: #efeeef;
        font-size: 1.4em;
        font-family: 'Avenir';
    }


        a.btn {
        transition: all 0.3s ease-in-out;

        &.aqua {
            font-family: 'Kirvy Bold';
            background: #01b79e;
            color: #fff;
            font-size: 1.8em;
            text-transform: none;
            &:hover {
                background: @aquaoscura;
            }
        }
    }

}

/**********INICIO****/

html.inicio {
	 width: 100%;
}
	body.inicio {
		text-align: center;
    width: 100%;

		  background: url(../img/fondo.png) no-repeat center;
  background-attachment: fixed;
		section {
			    padding: 50px 0;
			h2, p {
				text-shadow: 5px 5px 5px black;
			}
			a {
		    opacity: 1;
	}
			img {
				    margin-left: auto;
    position: relative;
    right: auto;
    margin-top: 50px;
			}
			.buton {
				text-align: center;
			}
		}
		.que_eres {
display: block;
    position: relative;
    margin: auto;
    text-align: center;
    width: 352px;
    height: 196px;
    border: 3px solid black;
    background: black;
     -webkit-transform: skew(-15deg);
     -moz-transform: skew(-15deg);
     -ms-transform: skew(-15deg);
     -o-transform: skew(-15deg);
        transform: skew(-15deg);
		}
	}
	
/****NOMBREEE***/
html.nombre {
	 width: 100%;
}
body.nombre {
	width: 100%;
		  background: url(../img/fondo_nombre.png) no-repeat center;
  background-attachment: fixed;
	.content {
    position: relative;
    background: transparent;
}
	section {
		    padding: 50px 0;
	}
	.general {
		padding-top: 100px;
	}
	a {
		    opacity: 1;
	}
}

/***SECCION 1****/
body.seccion1 {
	background: url(../img/fondo_seccion1.png) no-repeat center;
  background-attachment: fixed;
	img {
		    margin-left: -113px;
    position: relative;
    right: -28px;
	}
	a {
		    opacity: 1;
	}
	li {
		    margin-left: 174px;
    padding-right: 74px;
		&.prueba {
			    margin-left: 166px;
		}
		
	}
	ul.prueba {
		        margin-right: -53px;
	}
}


/***SECCION 2****/
body.seccion2 {
	background: url(../img/fondo_seccion2.png) no-repeat center;
  background-attachment: fixed;
	img {
		    margin-left: -113px;
    position: relative;
    right: -28px;
	}
	a {
		    opacity: 1;
	}
	li {
		          margin-left: 140px;
		&.prueba {
			             margin-left: 126px;
		}
		
	}
	ul.prueba {
		          margin-right: 53px;
	}
}

/***SECCION 3****/
body.seccion3 {
	background: url(../img/fondo_seccion3.png) no-repeat center;
  background-attachment: fixed;
	img {
		    margin-left: -113px;
    position: relative;
    right: -28px;
	}
	a {
		    opacity: 1;
	}
	li {
		          margin-left: 140px;
		&.prueba {
			             margin-left: 126px;
		}
		
	}
	ul.prueba {
		          margin-right: 53px;
	}
	
	h2, p, ul {
		color: #284a6c;
	}
}
/****RESULTADO A ***/

body.a {
	background: url(../img/premio1.png) no-repeat center;
	background-attachment: fixed;
	section.a
	{
		padding: 0;
		    margin-top: -99px;
		.col {
		
			&.dos {
			background: url(../img/premio_enlace.png) no-repeat center;
				    min-height: 611px;
			}
			
			h2,p {
				    text-align: center;
    max-width: 400px;
    display: block;
    margin: auto;
 
				color: #092f57;
			}
			h2 {
				   margin-top: 100px;
				text-transform: uppercase;
			}
			.buton {
				text-align: center;
			}
			.btn-2 {
    background: #4267b2;
    color: #fff;
    box-shadow: 0 6px #092f57;
			}
			.btn-2g:hover {
    box-shadow: 0 4px #092f57;
			}
			
		}
	}
}

@import "responsive";
